[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
matplotlib = "*"
scipy = "*"
finpie = "==0.1"
pandas = "*"
quandl = "*"
jupyter = "*"
notebook = "*"
pandas-datareader = "*"
investpy = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
